* {
  font-size: 12px;
  font-family: "JetBrainsMono Nerd Font";
}

window#waybar {
  transition-duration: 0.2s;
  transition-property: background-color;
  background: rgba(0, 0, 0, 0);
  color: #ffffff;
}

#window.empty {
  background-color: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

tooltip {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
}

tooltip label {
  margin-right: 2px;
  margin-left: 2px;
  color: #ffffff;
}

.modules-center {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

button:hover {
  box-shadow: inset 0 -3px #ffffff;
  background: inherit;
}

#workspaces button {
  min-width: 20px;
}

#workspaces button {
  padding: 0 0;
  background-color: transparent;
  color: #ffffff;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.7);
}

#taskbar button.active,
#workspaces button.active {
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: #1e1e2e;
}

#cava {
  padding: 0px 10px;
  border-radius: 3px;
  color: #ffffff;
}

#clock,
#cpu,
#memory,
#disk,
#temperature,
#network,
#wireplumber,
#custom-media,
#custom-fan,
#custom-power_button,
#custom-screenshot,
#custom-launcher,
#custom-notification,
#workspaces,
#privacy,
#tray,
#taskbar,
#mpris,
#user,
#custom-audio_idle_inhibitor,
#idle_inhibitor,
#power-profiles-daemon,
#pulseaudio,
#backlight {
  padding: 0px 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  color: #ffffff;
}

#taskbar.empty {
  padding: 0px 0px;
  background-color: transparent;
}

#window,
#workspaces {
  margin: 0 0;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

label:focus {
  background-color: #000000;
}

#wireplumber {
  background-color: #fff0f5;
  color: #000000;
}

#wireplumber.muted {
  background-color: #f53c3c;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#custom-notification {
  padding: 0px 10px;
  font-size: 15px;
  font-family: "NotoSansMono Nerd Font";
}

#custom-screenshot {
  font-weight: 900;
  font-size: 15px;
}
